body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  background-image: url(5132609.png);
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  background-color: #dde1e7;
  border-radius: 15px;
  background: linear-gradient(145deg, #ecf1f7, #c7cbd0);
  box-shadow: 13px 13px 26px #bcbfc4,
    -13px -13px 26px #feffff;
  padding: 100px;
}

#regForm {
  padding: 50px 80px;
}

.box2 {
  
  border-radius: 15px ;
  margin: 10px;
  margin-right: 50px;
  margin-bottom: 50px;
  
  background-color: #dde1e7;
  padding: 10px;
  font-size: 18px;
  color: #191d23;
  height: 20px;
  border: none;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

.box2:focus {
  outline: none;
}


.create-account {
  text-align: center;
  margin-top: 10px;
}

.create-account a {
  color: black;
  font-weight: bold;
}

.button-5,
.button-7,
.button-6 {


    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: var(--accent);
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: white;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.button-5:hover,
.button-7:hover,
.button-6:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

.button-5:active,
.button-7:active,
.button-6:active {
    box-shadow: inset 0px 3px 7px rgb(71, 81, 92);
    transform: translateY(2px);
}

.button-6 {
    background-color: red;
    margin-left: 20px;
}

.button-7 {
    background-color: green;

}

.button-7:active {
    box-shadow: inset 0px 3px 7px rgb(2, 56, 2);

}

label{
  font-size: 20px;
  font-weight: bold;
}
.welcome-message {
  text-align: center;
}
