[data-theme="light"] {
    --fallback-p: #FF5B00;
    --fallback-s: #FF5B00;
    --fallback-a: #FF5B00;
    --fallback-pc: #ffffff;
    --fallback-sc: #ffffff;
    --fallback-ac: #ffffff;

    --p: 68.2381% 0.2126 23.3161;
    --s: 68.2381% 0.2126 23.3161;
    --a: 68.2381% 0.2126 23.3161;
    --pf: 60.5106% 0.1877 23.4457;
    --sf: 60.5106% 0.1877 23.4457;
    --af: 60.5106% 0.1877 23.4457;
    --pc: 100% 0 0;
    --sc: 100% 0 0;
    --ac: 100% 0 0;
}
